/* #645CBB
#A084DC
#BFACE2
#EBC7E6 */
/* font-family: 'Itim', cursive; */

@import url('https://fonts.googleapis.com/css2?family=Itim&family=Poppins:wght@500&family=Roboto+Mono:wght@300&display=swap');

body {
  background-color: #BFACE2;
}

button {
  font-family: 'Roboto Mono', monospace;
}

label {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
}

p {
  font-family: 'Itim', cursive;
}